{%extends "base.html"%}
{%block titleContent%}PLEASE ENTER YOUR DETAILS FOR NEW USER{%endblock%}
{%block content%}
        <center>
        <form method="post"  id="formStyle" name="createUserForm" action="/user/createNew/">
            {% csrf_token %}
             {%if form.errors %}
                 {% for field in form.visible_fields %}
                <div class="fieldWrapper">
                {{ field.errors }}
                </div>
            {% endfor %}
         {%endif%}
           <table bgcolor="#092E20" style="white-space: nowrap">
                <tr><td>{{form.username.label_tag}}</td><td>{{form.username}}</td></tr>
                <tr><td>{{form.password1.label_tag}}</td><td>{{form.password1}}</td></tr>
                <tr><td>{{form.password2.label_tag}}</td><td>{{form.password2}}</td></tr>
               <tr><td>{{form.first_name.label_tag}}</td><td>{{form.first_name}}</td></tr>
               <tr><td>{{form.last_name.label_tag}}</td><td>{{form.last_name}}</td></tr>
               <tr><td>{{form.email.label_tag}}</td><td>{{form.email}}</td></tr>
               <tr><td></td><td><input type="submit" value="Create" /></td></tr>
            </table>
           </form>
        </center>
{%endblock%}
