{%extends "base.html"%}
{%block titlecontent%}
"Select the exam from below"
{%endblock%}
{%block links%}
<!-- This block is to dynamically include top navigation -->
{%block links%}
 
<ul id="navigation">
         <li ><a href="/user/home">Home</a></li>
       <li ><a href="/user/logout/">Logout</a></li>
</ul>
{%endblock%}

<!-- This block is to dynamically include sidebar navigation -->
{%block sidebar%} 

     <a href="/user/TakeExam">Take Exam</a>
     <a href="/user/CurrentExam/">Current Contests</a>
     <a href="/user/Participation/">Participation History</a>

{%endblock%}

<!-- This block is to dynamically include main bar contents -->
{%block content%}
        <h3></h3>
         <table bgcolor="#092E20" style="color:white">
        	<tr><td><b><center>Contest Name</center></b></td><td><b><center>Type</center></b></td><td><b><center>Starts On</center></b></td><td><b><center>Ends On</center></b></td></tr>
        
        <form  method="POST" name="Contest" action="/user/CurrentExam/" enctype="multipart/form-data">
       	{% csrf_token %}
       	            
            {% for row in form %}
        	
        	<tr><td>{{ row.contestQuestId }}
        		<td>{{row. }}</td><td>{{ row.score }}</td><td>{{ row.endTime }}</td> 
        	</tr
        	
        	{% endfor %}
        </table>
        </form>
{%endblock%}
